# 忽略 Python 缓存
__pycache__/
*.pyc

# 忽略环境文件夹
quant_env/
env/
venv/

# 忽略数据文件 (最重要！)
*.parquet
*.csv
data/

# 忽略 VS Code 配置
.vscode/

# 忽略所有图片文件
*.png
*.jpg

# 忽略本地数据文件和文件夹
data/
*.parquet

# 忽略模型产出文件
models/
*.pkl